html { height: 100%; width: 100%; }

.notice {
  background-color: #33ff00;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
body {width: 100%; min-width: 980px; height: 100%; margin-right: 20px; padding: 0;
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318; }

table {
    min-width: 700px;
}

td {
  text-align: center;
}

h1 {
  height: 2em; padding-top: 1em; text-align: center;
  background: #993120; color: #ffffff; 
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
#footer { clear: both; height: 2.5em; text-align: righ; 
  background: #4C2516; color: #F2DC87; }
#footer p { margin: 0; padding: 0.5em 1em; }
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #993120;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }


}
